extends master

block content

    
    div(class="content")
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="card card-stats")
                        div(class="card-header card-header-warning card-header-icon")
                            div(class="card-icon")
                                i(class="material-icons") content_copy
                            p(class="card-category") Used Space
                            h3(class="card-title") 49/50
                                small GB
                        div(class="card-footer")
                            div(class="stats")
                                i(class="material-icons text-danger") warning
                                a(href="javascript:;") Get More Space...
                        
    footer(class="footer")
        div(class="container-fluid")
            nav(class="float-left")
                ul
                    li
                        a(href="https://www.creative-tim.com") Creative Tim
                    li
                        a(href="https://creative-tim.com/presentation") About Us
                    li
                        a(href="https://www.creative-tim.com") Blog
                    li
                        a(href="https://www.creative-tim.com") Licenses

            div(class="copyright float-right") &copy;
                //- script(document.write(new Date().getFullYear())) , made with 
                //-     i(class="material-icons") favorite by
                //-     a(href="https://www.creative-tim.com" target="_blank") Creative Tim 
                //-         for a better web.