doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(name="description" content="Mobile app HTML landing page template to help you build a great online presence for your app which will convert visitors into users")
    meta(name="author" content="Inovatik")

    meta(property="og:site_name" content="")
    meta(property="og:site" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    meta(property="og:url" content="") 
    meta(property="og:type" content="article")

    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet")
    link(href="/stylesheets/frontend/bootstrap.css" rel="stylesheet")
    link(href="/stylesheets/frontend/fontawesome-all.css" rel="stylesheet")
    link(href="/stylesheets/frontend/swiper.css" rel="stylesheet")
    link(href="/stylesheets/frontend/magnific-popup.css" rel="stylesheet")
    link(href="/stylesheets/frontend/styles.css" rel="stylesheet")

    link(rel="icon" href="/images/frontend/favicon.png")

  body(data-spy="scroll" data-target=".fixed-top")
  
    div(class="spinner-wrapper")
      div(class="spinner")
        div(class="bounce1")
        div(class="bounce2")
        div(class="bounce3")

    nav(class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top")
      a(class="navbar-brand logo-image" href="index.html") 
        img(src="images/logo.svg" alt="alternative")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-awesome fas fa-bars")
        span(class="navbar-toggler-awesome fas fa-times")

      div(class="collapse navbar-collapse" id="navbarsExampleDefault")
        ul(class="navbar-nav ml-auto")
          li(class="nav-item")
            a(class="nav-link page-scroll" href="#header") HOME 
              span(class="sr-only")(current)
          li(class="nav-item")
            a(class="nav-link page-scroll" href="#features") FEATURES
          li(class="nav-item")
            a(class="nav-link page-scroll" href="#preview") PREVIEW

          //- <!-- Dropdown Menu -->          
          li(class="nav-item dropdown")
            a(class="nav-link dropdown-toggle page-scroll" href="#details" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false") DETAILS
            div(class="dropdown-menu" aria-labelledby="navbarDropdown")
              a(class="dropdown-item" href="terms-conditions.html")
                span(class="item-text") TERMS CONDITIONS
              div(class="dropdown-items-divide-hr")
              a(class="dropdown-item" href="privacy-policy.html")
                span(class="item-text") PRIVACY POLICY
          //- <!-- end of dropdown menu -->

          li(class="nav-item")
            a(class="nav-link page-scroll" href="#contact") CONTACT

        span(class="nav-item social-icons")
          span(class="fa-stack")
            a(href="#your-link")
              i(class="fas fa-circle fa-stack-2x")
              i(class="fab fa-facebook-f fa-stack-1x")
          span(class="fa-stack")
            a(href="#your-link")
              i(class="fas fa-circle fa-stack-2x")
              i(class="fab fa-twitter fa-stack-1x")
    //-  Header 

    header(id="header" class="header")
      div(class="header-content")
        div(class="container")
          div(class="row")
            div(class="col-lg-6")
              div(class="text-container")
                h1 MOBILE APP 
                br 
                p FOR 
                  span(id="js-rotating") DESIGNERS, MARKETERS, DEVELOPERS
                p(class="p-large") Leno is one of the easiest and feature packed marketing automation apps in the market. Download it today!</p>
                a(class="btn-solid-lg page-scroll" href="#your-link")
                  i(class="fab fa-apple") APP STORE
                a(class="btn-solid-lg page-scroll" href="#your-link")
                  i(class="fab fa-google-play") PLAY STORE
            div(class="col-lg-6")
              div(class="image-container")
                img(class="img-fluid" src="images/header-iphone.png" alt="alternative")
    //-  end of header 
    
    block content

    //-  Footer 
    div(class="footer")
      div(class="container")
        div(class="row")
          div(class="col-md-4")
            div(class="footer-col")
              h4 About Leno
              p We're passionate about creating the best mobile apps for personal development
          div(class="col-md-4")
            div(class="footer-col middle")
              h4 Important Links
              ul(class="list-unstyled li-space-lg")
                li(class="media")
                  i(class="fas fa-square")
                  div(class="media-body") Our business partners 
                    a(class="turquoise" href="#your-link") startupguide.com
                li(class="media")
                  i(class="fas fa-square")
                  div(class="media-body") Read our 
                    a(class="turquoise" href="terms-conditions.html") Terms & Conditions,
                      a(class="turquoise" href="privacy-policy.html") Privacy Policy
          div(class="col-md-4")
            div(class="footer-col last")
              h4 Social Media
              span(class="fa-stack")
                a(href="#your-link")
                  i(class="fas fa-circle fa-stack-2x")
                  i(class="fab fa-facebook-f fa-stack-1x")
              span(class="fa-stack")
                a(href="#your-link")
                  i(class="fas fa-circle fa-stack-2x")
                  i(class="fab fa-twitter fa-stack-1x")
              span(class="fa-stack")
                a(href="#your-link")
                  i(class="fas fa-circle fa-stack-2x")
                  i(class="fab fa-google-plus-g fa-stack-1x")
              span(class="fa-stack")
                a(href="#your-link")
                  i(class="fas fa-circle fa-stack-2x")
                  i(class="fab fa-instagram fa-stack-1x")
              span(class="fa-stack")
                a(href="#your-link")
                  i(class="fas fa-circle fa-stack-2x")
                  i(class="fab fa-linkedin-in fa-stack-1x")
    //-  end of footer 

    //-  Copyright 
    div(class="copyright")
      div(class="container")
        div(class="row")
          div(class="col-lg-12")
            p(class="p-small") Copyright © 2020 
              a(href="https://inovatik.com") Inovatik 
                p - All rights reserved

    script(src="/javascripts/frontend/jquery.min.js")
    script(src="/javascripts/frontend/popper.min.js")
    script(src="/javascripts/frontend/bootstrap.min.js")
    script(src="/javascripts/frontend/jquery.easing.min.js")
    script(src="/javascripts/frontend/swiper.min.js")
    script(src="/javascripts/frontend/jquery.magnific-popup.js")
    script(src="/javascripts/frontend/morphext.min.js")
    script(src="/javascripts/frontend/validator.min.js")
    script(src="/javascripts/frontend/scripts.js")

